<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>


<body>


    <header>
        <div class="header">
            <div>
                <img class="logo" src="/images/logo.png" alt="Logo Camagru">
            </div>
            <nav>
                <ul>
                    <li><a href="/controllers/home.php" class="nav-link active">Accueil</a></li>
                    <li><a href="/controllers/galerie.php" class="nav-link">Galerie</a></li>
                    <li><a href="/controllers/profil.php" class="nav-link">Profil</a></li>
                    <li><a href="/controllers/camera.php" class="nav-link">Caméra</a></li>
                    <li><a href="/controllers/logout.php" class="nav-link">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>

        <section class="dashboard">
            <h1>Bienvenue sur Camagru !</h1>
            
            <div class="dashboard-cards">
                <a href="/controllers/galerie.php" class="dashboard-card">
                    <h2>Galerie publique</h2>
                    <img class="logohome" src="/images/logogalerie.png">
                    <h3>Viens voir les photos des autres utilisateurs</h3>
                </a>
                <a href="/controllers/camera.php" class="dashboard-card">
                    <h2>Prendre une photo</h2>
                    <img class="logohome" src="/images/logophoto.png">
                    <h3>Ajoute une nouvelle photo et teste des filtres amusants</h3>
                </a>
                <a href="/controllers/profil.php" class="dashboard-card">
                    <h2>Mon profil</h2>
                    <img class="logohome" src="/images/logoprofil.png">
                    <h3>Modifie tes infos et gère tes photos</h3>
                </a>
            </div>
        </section>
        
    </main>


    <footer>
        <p>© Camagru 2025</p>
    </footer>


</body>

</html>