<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>


<body>


    <header>
        <div class="header">
            <div>
                <img class="logo" src="/images/logo.png" alt="Logo Camagru">
            </div>
            <nav>
                <ul>
                    <li><a href="/controllers/home.php" class="nav-link">Accueil</a></li>
                    <li><a href="/controllers/galerie.php" class="nav-link">Galerie</a></li>
                    <li><a href="/controllers/profil.php" class="nav-link">Profil</a></li>
					<li><a href="/controllers/camera.php" class="nav-link">Caméra</a></li>
                    <li><a href="/controllers/logout.php" class="nav-link">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>

		<div class="gallery" id="gallery"></div>

    </main>


    <footer>
        <p>© Camagru 2025</p>
    </footer>

	<script src="/js/image.js"></script>


</body>

</html>